.teams_list {
    column-count: 1;
    column-gap: 30px;
}
.teams_list__card {
    break-inside: avoid;
}
@screen md {
    .teams_list {
        column-count: 2;
    }
}
@screen xl {
    .teams_list {
        column-count: 3;
    }
}
@screen 2xl {
    .teams_list {
        column-count: 4;
    }
}
